<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>

    <servlet>
        <servlet-name>CounterServlet</servlet-name>
        <servlet-class>com.example.counter.CounterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CounterServlet</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>

</web-app>
